div {
	border: 2px solid red;
}
body {
	text-transform: uppercase;
}
/*Headline*/
.headlineContainer {
	height: 175px;
	font-family: 'Raleway', sans-serif;
	font-size: 60px;
}
.headlineList li {
	display:inline;
	list-style: none;
}

/*Body*/
.bodyOfStuff {
	display: flex;
	height: 300px;
}

/*Images*/
/*User Click Images*/
.imageChoices {
	/*position: absolute;*/
	width: 145px;
	padding-top: 50px;
	animation: slideIn .8s 1 forwards;
	animation-direction: alternate;
	animation-fill-mode: forwards;
	left: -100px;
}


@keyframes slideIn {
	0%{transform: translateX(-900px);}
	100%{transform: translateX(0px);}
}

/*User Choices Box*/
.choices {
	width: 60%;
	display: flex;
}

/*Score Board Section*/
.scoreSheet {
	width: 40%;
	float: left;
	text-align: center;
}
.userScore {
	float: left;
	width: 50%;
}
.scoreHead {
	font-family: 'Galada', cursive;
	text-transform: capitalize;
	font-size: 50px;
}
.userScore , .computerScore {
	font-family: 'Press Start 2P', cursive;
	font-size: 210px;
	text-align: right;
}

/*What has been Chosen*/
.whatsBeenChosen {
	height: 150px;
}

/*User Image Options*/
.yourOptions {
	float: left;
}


